argcomplete==1.8.2
beautifulsoup4==4.5.3
chardet==2.3.0
cycler==0.10.0
docx2txt==0.6
EbookLib==0.15
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.5
git+https://github.com/goulu/pdfminer/zipball/e6ad15af79a26c31f4e384d8427b375c93b03533#egg=pdfminer.six
Pillow==5.1.0
pocketsphinx==0.1.3
pycrypto==2.6.1
pycryptodome==3.6.1
pyparsing==2.2.0
PyPDF2==1.26.0
python-dateutil==2.7.3
python-pptx==0.6.5
pytz==2018.4
six==1.10.0
SpeechRecognition==3.6.3
textract==1.6.1
wordcloud==1.4.1
xlrd==1.0.0
XlsxWriter==1.0.5
xlwt==1.3.0
